/* Minerva Bold */
@font-face {
    font-family: 'Minerva';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/minerva-bold.woff);
}
/* Minerva Regular */
@font-face {
    font-family: 'Minerva';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/minerva-regular.woff);
}
/* Smythe Regular */
@font-face {
    font-family: 'Smythe';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/smythe-regular.woff2) format('woff2');
}